# macOS system files
.DS_Store

# Python bytecode cache directories
**/__pycache__/

# any log files
*.log

# Python package metadata
*.egg-info/
*.egg

# Configuration files
config/*.json
!config/*.example.json

# test
test.ipynb
