include README.md
include LICENSE
include requirements.txt
include pyproject.toml

recursive-include config *.json *.yaml *.yml
recursive-include examples *.ipynb *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * .git*
recursive-exclude * .vscode
recursive-exclude * .idea 